body {
   background: #white;
    //color: white;
    font-family: $font;
  }

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  // max-width: 90%;
  padding: 10px 5%;
  margin: auto;
  position: sticky;
  top: 0;
  background: #f0f0f0;
  z-index: 5;

  @media (max-width: 767px){
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .logo {
    @media (max-width: 767px){
        width: 100%;
    }
    img {
        max-width: 150px;
      @media (max-width: 767px){
        max-width: 200px;
      }
    }
  }
  .btns {
    align-self: center;
  }
  .btn {
    align-self: center;
    margin: 0 20px;
    @media (max-width: 767px){
      margin: 15px auto 10px;
      display: block;
    }
  }
}


.hero {
  background-image: url(https://s3.amazonaws.com/whatsapptastics-assets/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
  overflow: hidden;
  color: white;
  @media (max-width: 767px) {
    height: 300px;
  }
  &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,0.6);
  }

  .hero__content {
    display: flex;
    height: 100%;
    align-content: center;
    align-self: center;
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 3;
    flex-wrap: wrap;

    h1 {
      color: white;
      align-self: center;
      font-size: 46px;
      width: 100%;
      @media (max-width: 767px){
        font-size: 30px;
        max-width: 100%;
      }
      span {
        color: #2be460;
        text-transform: uppercase;
        font-weight: 800;
      }
    }
  }
}
.bs {
  .bs-container {
    display: flex;
    color: black;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    .bs__text {
      flex: 0 0 50%;
      font-size: 20px;
      align-self: center;
      text-align: center;
      @media (max-width: 767px) {
        flex: 0 1 100%;
        padding: 20px;
      }
    }
    sub {
      font-size: 6px;
    }
  }
}
.faq {
  background: $offset-color;
  padding: 80px 0 40px 0;
  .faq-container {
    width: 90%;
    margin: auto;
  }
  .faq-title {
    margin: 0;
    padding: 0;
    font-size: 84px;
    color: white;
    line-height: 1;
  }
  hr {
    margin: 30px 0;
    border-width: 4px;
    border-color: white;
    border-style: solid;
  }
  .faq-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #393939;

    .faq-cell {
      flex: 0 1 calc(33% - 10px);
      background: white;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        flex: 0 1 100%;
        margin-bottom: 20px;
      }
      .faq-cell-inner {
        padding: 20px;
      }
      .faq-question {
        &:before {
          content: 'Q.';
          font-size: 18px;
          padding: 0 15px 0 0;
          color: #8a9ee9;
          font-weight: 800;
        }
        &:after {
          content: '';
          display: block;
          background: #8a9ee9;
          height: 8px;
          margin: 15px -20px;
        }
      }
        .faq-answer {
          a, a:visited {
            color: $offset-color;
          }
          &:before {
            content: 'A.';
            font-size: 18px;
            padding: 0 15px 0 0;
            color: #8a9ee9;
            font-weight: 800;
          }
      }
    }
  }

}

#report-modal {
  .modal-wrapper {
    padding: 20px;
    text-align: center;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    .btn--fill {
      background: $primary-color;
      color: white;
    }
  }

  .btn--submit {
    //border: 2px solid gray;
    //color: gray;
    //background-color: white;
    //padding: 8px 20px;
    //border-radius: 8px;
    //font-size: 20px;
    //font-weight: bold;
    background: $primary-color;
    color: white;
    padding: 8px 40px 8px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    &:before {
      content: '';
      background: url(https://s3.amazonaws.com/whatsapptastics-assets/send_white_192x192.png);
      display: inline-block;
      height: 20px;
      width: 20px;
      background-size: cover;
      background-position: center center;
      position: absolute;
      right: 10px;
    }
  }
  
  .input {
    display: block;
    max-width: 300px;
    margin: 10px auto;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #3f5fd1;
    color: #3f5fd1;
    text-align: center;
    width: 100%;
    &::placeholder {
      color: #3f5fd1;
    }
  }
  

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .btn--submit {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .modal-note {
    font-size: 14px;
  }
  .loading {
    display: none;
    &.show {
      display: block;
    }
  }
}

 footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0;
    font-size: 12px;
    color: #393939;
   align-items: center;
    img {
      max-height: 20px;
    }
  }
